---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
          {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
        {% endif %}

        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}

        <div class="contact-icons">{% social_links %}</div>
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Research Updates -->
    <h2>Research Updates</h2>
    <div class="research-updates">
      <p>
        <strong>Political-LLM: Large Language Models in Political Science</strong><br />
        L. Li, J. Li, C. Chen, F. Gui, <strong>Hongjia Yang*</strong>, C. Yu, Z. Wang, J. Cai, J. A. Zhou, B. Shen, A. Qian, W. Chen, Z. Xue, L. Sun, L. He, H. Chen, K. Ding, Z. Du, F. Mu, J. Pei, J. Zhao, S. Swayamdipta, W. Neiswanger, H. Wei, X. Hu, S. Zhu, T. Chen, Y. Lu, Y. Shi, L. Qin, T. Fu, Z. Tu, Y. Yang, J. Yoo, J. Zhang, R. Rossi, L. Zhan, L. Zhao, E. Ferrara, Y. Liu, F. Huang, X. Zhang, L. Rothenberg, S. Ji, P. S. Yu, Y. Zhao, and Y. Dong. <em>arXiv preprint arXiv:2412.06864</em>, 2024.<br />
        <a href="https://arxiv.org/abs/2412.06864" target="_blank" rel="noopener">arXiv</a>
      </p>
    </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% social_links %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% if site.plugins contains 'al_newsletter' %}
        {% include plugins/al_newsletter_form_center_margin.liquid %}
      {% else %}
        {% include newsletter.liquid center=true %}
      {% endif %}
    {% endif %}
  </article>
</div>
